
.tab{
  height:28px;
  background:#545651;
}

.tab-ul{
  line-height:28px;
}

.tab-ul li{
  font-size:12px;
  float:left;
  margin:0 12px;
  display:inline;
  color:#d4d6d3;
}

.tab-ul li:hover{
  color:#fff;
}

.header{
  height:114px;
  background:#eff3f6;
  margin-bottom:40px;
}

.home{
  width:950px;
  margin:0 auto;
  background:#006dcc;
}

.left-box{
  width:590px;
  float:left;
}

.l-chunk1{
  width:590px;
  height:470px;
  background:#999;
}

.l-chunk2{
  width:590px;
  height:1554px;
  background:#369;
}

.l-chunk3{
  width:590px;
  height:1022px;
  background:#dcc;
}

.right-box{
  width:310px;
  height:2200px;
  background:#f00;
  float:right;
}

.t-banner{
  width:950px;
  height:190px;
  background:#ff0;
}

.footer{
  width:950px;
  height:32px;
  background:red;
}
