.header{
	height:28px;
	background:#545652;
}

.header ul li{
	margin:0 12px;
	line-height: 28px;
	font-size:12px;
	display:inline;
	color:#d5d5d5;
}

.header ul li:hover{
	color:#fff;
}

.search-container{
	height:74px;
	background:#f0f3f5;
	border-bottom: solid 1px #e3ebec;
}

.search-center{
	margin:0 auto;
	width: 950px;
	height:74px;
}

.logo{
	float:left;
	line-height:74px;
	font-size:28px;
	color:#1886ca;
}

.search{
	float:left;
	margin-left:44px;
	margin-top: 20px;
	border-radius:2px;
	width:506px;
	height:31px;
	border: 0;
	border-bottom: solid 1px #d1d1d1;
	background:#fff;
}

.menu-container{
	height: 40px;
	background:#f0f3f5;
}

.menu-center{
	margin:0 auto;
	width: 950px;
	height:40px;
}

.menu-center li{
	display:inline;
	margin-right:36px;
	line-height:40px;
	font-size:12px;
	color:#27a;
}

.menu-center li:hover{
	color:#fffffc;
	background:#27a;
}

.main{
	position:relative;
	margin:0 auto;
	margin-top:40px;
	width:950px;
	height:3000px;
}

.content-1{
	float:left;
	margin-top:3px;
	width:590px;
	height:512px;
}

.hot-1{
	padding-bottom: 15px;
	border-bottom:solid 1px #eaeaea;
	margin-bottom:18px;
	font-size:14px;
	color:#111;
}

.content-1 span{
	margin-left:16px;
	font-size:12px;
	color:#37e;
}

.content-1 span:hover{
	color:#fff;
	background:#37e;
}

.img-container{
	height:306px;
}

.img-1,.img-2,.img-3,.img-4{
	float:left;
	margin:0 9px;
	width:128px;
	margin-bottom:18px;
	height:179px;
}

.img-container-1{
	float:left;
	text-align:center;
	width:147px;
	font-size:14px;
}

.img-container-1 a{
	margin-bottom:10px;
	color:#333;
}

.img-container-2{
	float:left;
	text-align:center;
	width:147px;
	font-size:14px;
}

.img-container-2 a{
	margin-bottom:10px;
	color:#333;
}

.img-container-3{
	float:left;
	text-align:center;
	width:147px;
	font-size:14px;
}

.img-container-3 a{
	margin-bottom:10px;
	color:#333;
}

.img-container-4{
	float:left;
	text-align:center;
	width:147px;
	font-size:14px;
}

.img-container-4 a{
	margin-bottom:10px;
	color:#333;
}

.icon-1{
	float:left;
	margin:0 0 12px 35px;
	width:519px;
	height:11px;
}

.container-btn1{
	float:left;
	margin:0 29px 38px 28px;
	border-radius: 2px;
	width:90px;
	height:24px;
	background:#268dcd;
	text-align: center;
	line-height:24px;
	font-size:12px;
	color:#fff;
}

.container-btn1 a{
	color:#fff;
}

.container-btn1 a:hover{
	color:#fff;
}

.container-btn2{
	float:left;
	margin:0 29px 38px 28px;
	border-radius: 2px;
	width:90px;
	height:24px;
	background:#268dcd;
	text-align: center;
	line-height:24px;
	font-size:12px;
	color:#fff;
}

.container-btn2 a{
	color:#fff;
}

.container-btn2 a:hover{
	color:#fff;
}

.container-btn3{
	float:left;
	margin:0 29px 38px 28px;
	border-radius: 2px;
	width:90px;
	height:24px;
	background:#268dcd;
	text-align: center;
	line-height:24px;
	font-size:12px;
	color:#fff;
}

.container-btn3 a{
	color:#fff;
}

.container-btn3 a:hover{
	color:#fff;
}

.container-btn4{
	float:left;
	margin:0 28px 38px 28px;
	border-radius: 2px;
	width:90px;
	height:24px;
	background:#268dcd;
	text-align: center;
	line-height:24px;
	font-size:12px;
	color:#fff;
}

.container-btn4 a{
	color:#fff;
}

.container-btn4 a:hover{
	color:#fff;
}

.container1-banner{
	width:590px;
	height:112px;
}

.content-2{
	float:left;
	margin-top:3px;
	width:590px;
	height:1548px;
	background:##edf2f7;
}

.hot-2{
	padding-bottom: 15px;
	border-bottom:solid 1px #eaeaea;
	margin-bottom:18px;
	font-size:15px;
	color:#111;
}

.hot2-span1{
	margin: 0 6px;
}

.hot2-span2{
	color:#37a;
}

.hot2-span2:hover{
	color:#fff;
	background:#37a;
}

.content2-submenu li{
	padding: 4px 10px;
	display: inline;
	float:left;
	margin:0 6px 5px 0;
	font-size:14px;
	color:#666;
	text-align: center;
	line-height: 24px;
}

.content2-submenu li:hover{
	border-radius:2px;
	background:#eee;
}

.content2-radio{
	float:left;
	margin-top: 9px;
	padding:15px 0;
	border-top:solid 1px #eee;
	width:950px;
	font-size:12px;
	color:#666;
}

.content2-l-radio{
	float:left;
}

.content2-r-radio{
	float:left;
}

.content2-img{
	float:left;
}

.content2-img a{
	float:left;
	font-size:12px;
}

.content2-span{
	font-size:10px;
	color:#e09015;
}

.content2-img1{
	margin-right: 10px;
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img1 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}


.content2-img2{
	margin-right: 10px;
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img2 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}

.content2-img3{
	margin-right: 10px;
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img3 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}

.content2-img4{
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img4 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}

.content2-img5{
	margin-right: 10px;
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img5 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}


.content2-img6{
	margin-right: 10px;
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img6 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}

.content2-img7{
	margin-right: 10px;
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img7 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}

.content2-img8{
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img8 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}

.content2-img9{
	margin-right: 10px;
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img9 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}


.content2-img10{
	margin-right: 10px;
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img10 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}

.content2-img11{
	margin-right: 10px;
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img11 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}

.content2-img12{
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img12 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}

.content2-img13{
	margin-right: 10px;
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img13 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}


.content2-img14{
	margin-right: 10px;
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img14 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}

.content2-img15{
	margin-right: 10px;
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img15 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}

.content2-img16{
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img16 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}

.content2-img17{
	margin-right: 10px;
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img17 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}


.content2-img18{
	margin-right: 10px;
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img18 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}

.content2-img19{
	margin-right: 10px;
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img19 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}

.content2-img20{
	width:140px;
	height: 259px;
	text-align: center;
	color:#37a;
}

.content2-img20 img{
	margin-bottom: 9px;
	width:140px;
	height: 200px;
}

.loading{
	float:left;
	text-align: center;
	line-height:34px;
	width:590px;
	height: 34px;
	background:#f7f7f7;
	font-size:14px;
	color:#37a;
}

.loading:hover{
	background:#f3f3f3;
}

.content-3{
	float:left;
	margin-top:3px;
	width:590px;
	height:982px;
}

.hot-3{
	padding-bottom: 15px;
	border-bottom:solid 1px #eaeaea;
	margin-bottom:18px;
	font-size:15px;
	color:#111;
}

.content3-scroll{
	margin-bottom: 36px;
	height: 240px;
}

.content3-banner{
	float: left;
	width:350px;
	height: 240px
}

.content3-text{
	float:right;
	padding: 54px 28px 0px 28px;
	width: 180px;
	height: 186px;
}

.content3-scroll-h2{
	height: 72px;
	font-size:16px;
}

.content3-scroll-h2 a{
	color:#111;
}

.content3-scroll-p{
	line-height: 1.5em;
	font-size:10px;
	color:#999;
}

.content3-generalize{
	float:right;
	margin:36px 12px 12px 0;
	font-size:12px;
	color:#ccc;
}

.hot-4{
	padding-bottom: 15px;
	border-bottom:solid 1px #eaeaea;
	margin-bottom:18px;
	font-size:14px;
	color:#111;
}

.content3-chunk-h2 span{
	margin-left:16px;
	font-size:12px;
	color:#37e;
}

.content3-chunk-h2 span:hover{
	color:#fff;
	color:#fff;
	background:#37e;
}

.content3-chunk{
	margin-bottom: 36px;
	width: 100%;
	height: 602px;
}

.content3-chunk a:hover{
	color:#fff;
	background:#37a;
}

.content3-chunk-1{
	padding-bottom: 26px;
	margin-bottom: 24px;
	border-bottom:solid 1px #eaeaea;
	width: 100%;
	height: 106px;
}

.content3-chunk1-img1{
	float:left;
	margin-right: 15px;
	width: 68px;
	height: 100%
}

.content3-chunk-1 h3{
	float:left;
	padding:6px 0 15px 0;
	font-size:14px;
	color:#37a;
}

.content3-chunk1-width{
	float:left;
	width:504px;
}

.content3-chunk1-a{
	float:left;
	margin:0 4px 11px 0;
	font-size:12px;
	color:#666;
}

.content3-chunk-comments{
	float:left;
	margin-right:7px;
	font-size:12px;
	color:#666;
}

.content3-chunk1-p{
	float:left;
	line-height:1.3em;
	width:504px;
	font-size:12px;
	color:#111;
}

.content3-chunk1-p-a{
	float:right;
	margin-right:35px;
	font-size:12px;
	color:#666;
}




.content3-chunk-2{
	padding-bottom: 26px;
	margin-bottom: 24px;
	border-bottom:solid 1px #eaeaea;
	width: 100%;
	height: 106px;
}

.content3-chunk2-img1{
	float:left;
	margin-right: 15px;
	width: 68px;
	height: 100%
}

.content3-chunk-2 h3{
	float:left;
	padding:6px 0 15px 0;
	font-size:14px;
	color:#37a;
}

.content3-chunk2-width{
	float:left;
	width:504px;
}

.content3-chunk2-a{
	float:left;
	margin:0 4px 11px 0;
	font-size:12px;
	color:#666;
}

.content3-chunk2-p{
	float:left;
	line-height:1.3em;
	width:504px;
	font-size:12px;
	color:#111;
}

.content3-chunk2-p-a{
	float:right;
	margin-right:35px;
	font-size:12px;
	color:#666;
}




.content3-chunk-3{
	padding-bottom: 26px;
	margin-bottom: 24px;
	border-bottom:solid 1px #eaeaea;
	width: 100%;
	height: 106px;
}

.content3-chunk3-img3{
	float:left;
	margin-right: 15px;
	width: 68px;
	height: 100%
}

.content3-chunk-3 h3{
	float:left;
	padding:6px 0 15px 0;
	font-size:14px;
	color:#37a;
}
.content3-chunk3-width{
	float:left;
	width:504px;
}

.content3-chunk3-a{
	float:left;
	margin:0 4px 11px 0;
	font-size:12px;
	color:#666;
}

.content3-chunk3-p{
	float:left;
	line-height:1.3em;
	width:504px;
	font-size:12px;
	color:#111;
}

.content3-chunk3-p-a{
	float:right;
	margin-right:35px;
	font-size:12px;
	color:#666;
}




.content3-chunk-4{
	padding-bottom: 26px;
	margin-bottom: 24px;
	width: 100%;
	height: 106px;
}

.content3-chunk4-img4{
	float:left;
	margin-right: 15px;
	width: 68px;
	height: 100%
}

.content3-chunk-4 h3{
	float:left;
	padding:6px 0 15px 0;
	font-size:14px;
	color:#37a;
}

.content3-chunk4-width{
	float:left;
	width:504px;
}

.content3-chunk4-a{
	float:left;
	margin:0 4px 11px 0;
	font-size:12px;
	color:#666;
}

.content3-chunk4-p{
	float:left;
	line-height:1.3em;
	width:504px;
	font-size:12px;
	color:#111;
}

.content3-chunk4-p-a{
	float:right;
	margin-right:35px;
	font-size:12px;
	color:#666;
}

.banner img{
	margin:0 auto;
	padding: 36px 0 65px 0;
	border-bottom:dotted 1px #ddd;
}

.footer{
	margin:0 auto;
	line-height:31px;
	width: 950px;
	font-size:12px;
	height: 31px;
	color:#a599b2;
}

.r-container{
	position:absolute;
	top:0;
	right:0;
	width:300px;
	height: 1000px;
	background:#e2f2f2;
}

.footer-nav{
	float:right;
}

.footer-nav li{
	display: inline;
	line-height:31px;
	font-size:12px;
	color:#27a;
}

.footer-nav li:hover{
	color:#fffffc;
	background:#27a;
}
